<a href="https://colab.research.google.com/github/arad1367/WAC_November-2023/blob/main/Session_1_Nov2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Introduction and resources

About your instructor:
https://www.linkedin.com/in/pejman-ebrahimi-4a60151a7/

My google scholar:
https://scholar.google.com/citations?user=zO-nHd0AAAAJ&hl=en

Website:
https://giltech-megoldasok.com/

GitHub repository related to course:
https://github.com/arad1367/WAC_November-2023

W3School tutorial for Python:
https://www.w3schools.com/python/default.asp

Python best practice:
https://www.hackerrank.com/

### Python programming
* Why Python?
** Ease Of Learning And Use
** Top 10 Reasons Why Python is So Popular With Developers in 2023: https://www.upgrad.com/blog/reasons-why-python-popular-with-developers/
* IDEs (An integrated development environment)
** Python IDEs: PyCharm, Visual Studio Code, Spyder, Atom, and Eclipse with the PyDev plugin.
* Google colab
** Google Colab is a free, web-based platform that allows users to write and run code in their Google Drive. It provides an interactive environment for developing machine learning models and data analysis projects. With Colab, users can access popular libraries and frameworks like TensorFlow and Keras, as well as easily share and collaborate on projects with others.

### What is the purpose of learning session 1
* Data types in Python
* Operators in Python
* Define variables
* Input, String concatenation, String Interpolation, f-Strings
* math module
* Data stuctures: List, Dictionary, Sets and Tuple
* List
* List methods

### 1. Data types in Python

In [ ]:
# Different data types in Python: Int, Float, String and boolean

# Integer
number = 7
type(number)

# float
number2 = 7.76666
type(number2)

# string (str)
name = "Pejman"
type(name)

# Boolean
comparison = (10 < 6)
comparison, type(comparison)

(False, bool)

### 2. Operators in Python
https://www.w3schools.com/python/python_operators.asp

In [ ]:
10 + 10

10 - 5

10 * 10

10 / 2

10 // 2

20 % 6

10 == 10

1 != 10

3 + (3 * 2)

(7 - 2) ** (3 * 2)

15625

### 3. Define variables
* A variable can consist of upper- and lowercase letters, the digits 0-9 and the underscore character.
* The first character of a variable cannot be a digit.
* Keywords like if or the Boolean True are reserved and cannot be used as variable names.
* Variables are case-sensitive; therefore x is different from X.

In [ ]:
# Variables
my_name = "Pejman"

type(my_name)

first_name = "Andre"
last_name = "Eriksson"
first_name, last_name

# Constant
PI = 3.14

### 4. Input, String concatenation, String Interpolation, f-Strings
* String methods: https://www.w3schools.com/python/python_ref_string.asp

In [ ]:
# Input

name = input("What is your name? ") # The output of input is a str
print("My name is " + name)

What is your name? Adam
My name is Adam

In [ ]:
# String concatenation

first_name, last_name
print("Your name is " + first_name + " " + last_name)

Your name is Andre Eriksson

In [ ]:
# f-string

name = input("What is your name? ") # Ouput is str
age = int(input("What is your age? ")) # Output is int
color = input("Your favorite color? ")

print(f"Your name is {name}, you are {age} years old and your favorite color is {color}.")

What is your name? Jim
What is your age? 30
Your favorite color? Red
Your name is Jim, you are 30 years old and your favorite color is Red.

In [ ]:
# String methods in Python

statement = "hey!, I love, Python."

# Str is not mutable

# String methods
statement.upper()
statement.lower()
statement.capitalize()
statement.index("l") # Index in Python starts with 0 not 1
statement.split(",")

['hey!', ' I love', ' Python.']

### 5. math module

In [ ]:
import math

number = 3.333

math.ceil(number)
math.floor(number)
math.sin(number)

-0.19024072762619915

### 6. List

In [ ]:
# Define a list
my_list = [10, 7.6, "Pejman", [], [100, 200, "Germany", [1, 1, 1000]]] # list has a 5 members. Index from 0 to 4
my_list

# List slicing and indexing
my_list[2]
my_list[4][3][2] # Access a member of nested list
my_list[:3]
my_list[2:]
my_list[::-1] # start:end:step
my_list[1::2]

# List is mutable / str is not mutable
my_list[0] = "Hungary"
my_list

['Hungary', 7.6, 'Pejman', [], [100, 200, 'Germany', [1, 1, 1000]]]

7. List methods
https://www.w3schools.com/python/python_ref_list.asp

In [ ]:
### List methods
initial_list = [2000, 3000, 1, 4, 8, 10, 1000]
print(f"My original list is: {initial_list}")

### append()
initial_list.append(5000)
print(f"My updated list with append is: {initial_list}")

### insert
initial_list.insert(0, "Pejman") # Shift+Ctrl+Space
print(f"My updated list with Insert a name is: {initial_list}")

### extend
initial_list.extend(["A", "B"])
print(f"The updated list with extend method: {initial_list}")

### pop
new_value = initial_list.pop()
print(f"Updated list: {initial_list}, new value is: {new_value}")

### List patterns
# Length of your list
len(initial_list)

new_list = [1000, 4, 77, 1, 0]
new_list.sort()
new_list

My original list is: [2000, 3000, 1, 4, 8, 10, 1000]
My updated list with append is: [2000, 3000, 1, 4, 8, 10, 1000, 5000]
My updated list with Insert a name is: ['Pejman', 2000, 3000, 1, 4, 8, 10, 1000, 5000]
The updated list with extend method: ['Pejman', 2000, 3000, 1, 4, 8, 10, 1000, 5000, 'A', 'B']
Updated list: ['Pejman', 2000, 3000, 1, 4, 8, 10, 1000, 5000, 'A'], new value is: B

[0, 1, 4, 77, 1000]