<a href="https://colab.research.google.com/github/arad1367/WAC_November-2023/blob/main/Session_2_Nov2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What will we cover?
* Dictionary
* Sets
* Tuple
* Logical operators
* Conditional statements (if, elif, else)
* For loop
* While loop
* Project 1

### 1. Dictionary in Python

In [16]:
# A dictionary is a key:value format.
simple_dictionary = {
    'Key1': 100,
    'Key2': "Budapest",
    'Key3': [1, 2, 3, [1000, "Mark"]]
}

simple_dictionary

# Access to values with different keys
simple_dictionary['Key1']
simple_dictionary['Key2']
simple_dictionary['Key3'][3][1]


# Access to keys
simple_dictionary.keys()

# Access to values
simple_dictionary.values()

# Access to all keys:values
simple_dictionary.items()

dict_items([('Key1', 100), ('Key2', 'Budapest'), ('Key3', [1, 2, 3, [1000, 'Mark']])])

In [13]:
# A list of dictionaries
# List starts with index
# Dictionary starts with keys
my_list = [
    {
      'a': 100,
      'b': 2000
    },
    {
        'c': 'Germany',
        'd': 7.77777
    }
]


my_list[0]['b']

2000

### 2. Sets in Python
Sets methods: https://www.w3schools.com/python/python_ref_set.asp

In [17]:
# We need to find unique values from a list
list1 = [1, 1, 1, 6, 7, 7, 7, 7]
set(list1)

{1, 6, 7}

In [26]:
# Define 2 different sets and see some methods
set_1 = {1, 1, 3, 7, 9, 9, 10}
set_2 = {0, 7, 9, 100, 200}

# difference
set_2.difference(set_1)

# intersection
set_1.intersection(set_2)

# union
set_1.union(set_2)

{0, 1, 3, 7, 9, 10, 100, 200}

### 3. Tuple

In [29]:
my_tuple = (1, 2, 3, 1000000)

# Tuple is not mutable
my_tuple[0]
my_tuple[3]

1000000

### 4. Logical operators

In [39]:
# and , or, not
# and : If both sides of and are True, the answer is true
# or:  If just one side is True the answer is True

(5 > 3) and (5 == 5)
(5 > 10) and (6 == 6)

True or False

not(5 > 1)

not 0

my_shopping_list = ['Notebook', 'Laptop', 'Pen']
'Pen' in my_shopping_list
'Car' not in my_shopping_list

True

### 5. Conditional statement (if, elif, else)

In [42]:
# Just input a number and check if the number is between 1 to 10

number = int(input("Please enter a number: "))

if number >= 1 and number <= 10:
  print("Inside of bound")
else:
  print("Outside of bound")

Please enter a number: 1000000
Outside of bound

In [45]:
# elif
number = int(input("Please enter a number: "))

if number < 0:
  print('The number is negative')
elif number < 30:
  print("The number is smaller than 30")
elif number < 60:
  print("The number is smaller than 60")
elif number < 100:
  print("Smaller than 100")
else:
  print("The number is equal or bigger than 100")

Please enter a number: 22222222
The number is equal or bigger than 100

### 6. For loop
*  To iterate through a sequence (such as a list, tuple, or string) or other iterable object.

In [47]:
# A very simple for loop
for i in range(12): # i=0, i=1, i=2 , ... i=9
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [51]:
# Iterate on a list with for loop
my_list = ["Pejman", "Elina", "Mike", "Sara", "Andre"]
my_list2 = [1, 3, 3]

# Solution 1
for word in my_list2:
  print(word)

print('--------------\n')

# Solution 2
for index in range(len(my_list)): ### for index in range(5) >>> index=0, index=1 ,...index=4
  print(my_list[index])

1
3
3
--------------

Pejman
Elina
Mike
Sara
Andre

In [60]:
### Iterate on dictionary

my_dictionary = {
    "name" : "Mark",
    "age" : 23,
    "eligible": True
}


for key, value in my_dictionary.items():
  print(f"Key:{key} ------ value: {value}")

for key in my_dictionary.keys():
  print(key)

for value in my_dictionary.values():
  print(value)

Key:name ------ value: Mark
Key:age ------ value: 23
Key:eligible ------ value: True
name
age
eligible
Mark
23
True

In [52]:
### Example : Calculate sum of members inside of  a list  > Find a solution with for loop
### I want to see sum in every step

numbers = [10, 10, 10, 10, 10] # Sum = 50

total = 0
step = 0

for num in numbers:
  total += num  # total = total + num  # Update total sum
  step += 1  # Update my steps
  print(f"Step {step}. total sum is: {total}")

Step 1. total sum is: 10
Step 2. total sum is: 20
Step 3. total sum is: 30
Step 4. total sum is: 40
Step 5. total sum is: 50

In [57]:
# Example : FizzBuzz problem
# numbers between 1 to 100
# number can be divided by both 3 and 5 >>>> print FizzBuzz
# number is just divided by 3 >>> Fizz
# number is just divided by 5 >>> Buzz

for number in range(1, 101):
  if (number % 3 == 0) and (number % 5 == 0):
    print("FizzBuzz")
  elif number % 3 == 0:
    print("Fizz")
  elif number % 5 == 0:
    print("Buzz")
  else:
    print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

### 7. while loop

In [61]:
count = 5
while count < 10:
  print(f'{count} >>> printed!')
  count += 1

5 >>> printed!
6 >>> printed!
7 >>> printed!
8 >>> printed!
9 >>> printed!

### Convert a list to str

In [64]:
my_list = ['a', 'b', 'c', 'd']

list_to_str = "000".join(my_list)
list_to_str

'a000b000c000d'

### Project 1
* Make a new list with just unique even numbers and it must be sorted.
* For example : my_list = `[8 , 8, 1, 2, 2, 2, 2 , 11, 13, 0, 5]`
Output = `[0, 2, 8]`

* Your list for this project is: `[100, 10, 6, 6, 6, 2, 200, 11, 13, 7, 7, 0, 0, 2, 4, 98, -5, -4, -8]`
Output=?